@use './variables' as *;

.contact-form-wrapper {
  max-width: $bootstrap-breakpoint-sm;
  margin: 0 auto;
}

.contact-form-message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-alec {
  font-size: 1.25rem;
  font-weight: 500;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: .375rem;
}

.required {
  color: $medium-dark-pink;
}

.input-field,
.textarea-field {
  padding: .5rem;
  border: 1px solid $piece-border-color;

  &.textarea-field {
    min-height: 5rem;
  }
}

.characters-remaining-message {
  color: $green-yellow;
  text-align: right;

  &.limit {
    color: $medium-dark-pink;
  }
}

.error-messages-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .125rem 1rem;
  color: $medium-dark-pink;
}

.submit-button-wrapper {
  display: flex;
  justify-content: center;
}

button[type='submit'] {
  padding: .75rem 1.75rem;
  border: 2px solid $dark-cyan-blue;
  border-radius: 2rem;
  margin-top: 1rem;
  white-space: nowrap;
  background-color: $medium-dark-pink;
  color: $dark-yellow-green;
  font-size: inherit;
  text-decoration: none;

  &:not(:disabled) {
    cursor: default;
  }

  &:hover {
    background-color: $dark-yellow-green;
    color: $bootstrap-body-color;
  }
}
