@use '../node_modules/bootstrap/scss/bootstrap.scss';
@use './styles/variables' as *;

nav {
  max-width: 400px;
}

.nav-link {
  color: $nav-link-color-default;

  &:hover {
    color: $nav-link-color-default-hover;
  }

  &.nav-link-active {
    color: $nav-link-color-active;
    background-color: $nav-link-background-color-active;

    &:hover {
      color: $nav-link-color-active-hover-piece;
    }

    &:hover.gallery {
      color: $nav-link-color-active-hover-gallery;
    }
  }
}

.gallery-images-container {
  max-width: $bootstrap-breakpoint-sm;
}

.gallery-image {
  border: 1px solid $gallery-detail-color-border;
  outline: 3px solid transparent;

  &:hover {
    border-color: $gallery-detail-color-border-hover;
    outline-color: $gallery-detail-color-border-hover;
  }
}

.piece {
  border: 1px solid $piece-border-color;
}

.about-content-container {
  max-width: $bootstrap-breakpoint-lg;
}
