@use '../node_modules/bootstrap/scss/bootstrap.scss';
@use './styles/variables' as *;

.wordmark {
  max-width: 300px;
}

.feature-image {
  max-width: 675px;
}

.italic {
  font-style: italic;
}

.nav-link:hover {
  color: $nav-link-hover;
}

.active-link {
  color: $black;
  background-color: $nav-link-accent;

  &:hover {
    color: $black;
  }
}

.gallery-details-container {
  max-width: 575px;
}

.gallery-detail {
  border: 1px solid $black;
  outline: 3px solid transparent;

  &:hover {
    border-color: $details-border-hover;
    outline-color: $details-border-hover;
  }
}
