@use '../node_modules/bootstrap/scss/bootstrap.scss';
@use './styles/variables' as *;

nav {
  max-width: 400px;
}

.nav-link {
  color: $nav-link-default;

  &:hover {
    color: $nav-link-hover;
  }

  &.nav-link-active {
    color: $black;
    background-color: $nav-link-accent-background;

    &:hover {
      color: $black;
    }
  }
}

.gallery-details-container {
  max-width: $bootstrap-breakpoint-sm;
}

.gallery-detail {
  border: 1px solid $gallery-detail-border;
  outline: 3px solid transparent;

  &:hover {
    border-color: $gallery-detail-border-hover;
    outline-color: $gallery-detail-border-hover;
  }
}

.piece {
  border: 1px solid $piece-border;
}

.about-content-container {
  max-width: $bootstrap-breakpoint-lg;
}
